/* =============
    Section 1
============= */

#section-1{

        background-image: url('../img/section-1/mountains1.jpg'); 
        background-size: cover;
        background-position: center;
        height: 371px;

            @include md{
                height: 512px ;
            }

            @include lg{
                height: 683px ;
            }
    
    #test{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr auto 1fr;
        grid-template-areas: ". section-1 .";

    }
   
    #test-2{

    }

}